{% extends 'layout.html' %}
{% block title  %}High Life {% endblock %}
{% block content %}
     <div class="card mb-3">
  <img src="static/img/gospel.jpg" class="card-img-top" alt="Gospel Cover" width=" 50px">
  <div class="card-body">
    <h1 class="card-title">HIGH LIFE TRUCKS</h1>
  </div>

 <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="static/img/joe.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>Nsekyerene Nyekupon</h3>
               <h4>Diana Antwi Hamolton</h4>
              <h6>uploaded by Larteyjoshua</h6>
              <p>3 mins ago</p>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="static/img/oj.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>VOVOME</h3>
               <h4>Joe Mettle</h4>
              <h6>uploaded by Larteyjoshua</h6>
              <p>3 mins ago</p>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="static/img/yaw.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>My Level</h3>
              <h4>Shata Wale</h4>
              <h6>uploaded by Larteyjoshua</h6>
              <p>3 mins ago</p>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

{% endblock %}